.fundoCadastro {
    background-image: url("https://ik.imagekit.io/vzr6ryejm/games/fundo_03.jpg?updatedAt=1714988179386");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }